body {
    height:800px;
    background:url("../Images/WMP-Background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
    margin: 50px;
    width:1,000px;
    border:15px solid white;
    padding: 2%;

    @media @phone {
        margin:10px;
        
    }
    
    
}


.howitworks {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding:2%;
   
    


    .content-box{
        align-content: space-between;
        // background-color: yellow;
        height:125px;
        width:800px;
        padding:2%;
        border:5px solid white;
        // margin-bottom: 3%;
        text-align: center;
        color: #153d01;
        box-shadow: 5px 4px 10px 4px rgba(0, 0, 0, 0.25);

        @media @phone {
            width:400px;
            height: 190px;
        }
    }

    h2 {
        font-family: 'Handlee', ;
        padding-bottom:1%;
    }

    p {
        padding-bottom:2%;
        color:black;
        font-family: 'Source Sans Pro', ;
        font-size: 18px;

        
        
       
    }
    
}

.button {
    text-align: center;
    display:flex;
    justify-content: center;
    margin-bottom: 7%;

    @media @phone {
        margin-bottom: 0;
        padding-right: 1%;;
    }
 
    
    .btn {
        .custom-btn(#2e4422, 200px, white);
    }

    a {
        text-decoration: none;
        color:white;
    }

}
        
